<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamflow.planner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TeamFlowApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamFlowPlanner"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <activity
            android:name="com.teamflow.planner.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TeamFlowPlanner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.teamflow.planner.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TeamFlowPlanner" />

        <activity
            android:name="com.teamflow.planner.RegisterActivity"
            android:exported="false" />

        <activity
            android:name="com.teamflow.planner.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.TeamFlowPlanner" />

        <activity
            android:name="com.teamflow.planner.ProjectActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.DashboardActivity" />

        <activity
            android:name="com.teamflow.planner.AddProjectActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.DashboardActivity" />

        <activity
            android:name="com.teamflow.planner.AddTaskActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.ProjectActivity" />

        <activity
            android:name="com.teamflow.planner.TeamMembersActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.ProjectActivity" />

        <activity
            android:name="com.teamflow.planner.MemberDirectoryActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.DashboardActivity" />

        <activity
            android:name="com.teamflow.planner.MemberTasksActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.DashboardActivity" />

        <activity
            android:name="com.teamflow.planner.MemberProfileActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.MemberDirectoryActivity" />

        <activity
            android:name="com.teamflow.planner.ChatActivity"
            android:exported="false"
            android:parentActivityName="com.teamflow.planner.ProjectActivity" />

    </application>

</manifest>
